<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymelaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Editar</title>
</head>
<body>
<div class="container card mb-5 mt-2 bg-light">
    <div class="card-body" >
        <h1 class="cart-title text-center">Editar veículos</h1>
        <form th:action="@{/atualizar}"  th:object="${carro}" method="post">
             <input type="hidden" th:field="*{id}" class="form-control" /> <br>

            <div class="form-group">
                <label> Veículo: </label>
                <input type="text" th:field="*{veiculo}" class="form-control" /> <br>
                <p class="alert alert-warning" role="alert" th:if="${#fields.hasErrors('veiculo')}" th:errors="*{veiculo}"></p>
            </div>
            <div class="form-group">
                <label for="marcas-concessionaria"> Marca: </label>
                <input list="concessionaria" id="marcas-concessionaria" name="marcas-concessionaria" th:field="*{marca}" class="form-control" /> <br>
                <p class="alert alert-warning" role="alert" th:if="${#fields.hasErrors('marca')}" th:errors="*{marca}"></p>
            </div>
            <div class="form-group">
                Ano Fabricação: <input class="form-control" type="number" th:field="*{fabricacao}"/> <br>
                <p class="alert alert-warning" th:if="${#fields.hasErrors('fabricacao')}" th:errors="*{fabricacao}" />
            </div>
            <div class="form-group">
                Descricao: <input class="form-control" type="text" th:field="*{descricao}"/> <br>
                <p class="alert alert-warning" th:if="${#fields.hasErrors('descricao')}"
                   th:errors="*{descricao}"/>
            </div>
            <div class="form-group">
                <label>Status: </label>
                <select class="form-control" th:field="*{vendido}">
                    <option th:value="false" th:text="Disponivel"></option>
                    <option th:value="true" th:text="Vendido"></option>
                </select> <br>
            </div>
            <div class="form-group">
                Data cadastrado: <input class="form-control" type="date" th:field="*{created}"/> <br>
                <p class="alert alert-warning" th:if="${#fields.hasErrors('created')}"
                   th:errors="*{created}"/>
            </div>

            <div class="row justify-content-around">
                <div class="col">
                    <a href="/" class="btn btn-primary btn-lg btn-block" >Voltar</a>
                </div>
                <div class="col">
                    <button  class="btn btn-success btn-lg btn-block" type="submit">Cadastrar</button>
                </div>
            </div>

            <datalist id="concessionaria">
                <option value="Chevrolet">
                <option value="Volkswagen">
                <option value="Fiat">
                <option value="Renault">
                <option value="Toyota">
                <option value="Ford">
                <option value="Honda">
                <option value="Hyundai">
                <option value="Jeep">
                <option value="Mitsubishi">
                <option value="Peugeot">
                <option value="Citroën ">
                <option value="Caoa Chery">
                <option value="Nissan">
            </datalist>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>